{% extends 'base.html' %}

{% block title %}My Photos{% endblock title %}

{% block body %}

<div class="container-fluid my-0 px-0">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/myphoto/cour/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/7.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/8.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/9.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/myphoto/cour/5.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid my-2 text-center"><h2><strong>MY PHOTOS</strong></h2></div>
<div class="container-fluid my-4 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/1.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#purulia <br> #Garib_o_ka_SRK <br> #me</strong></p>
        
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm my-2">
    <img src="static/myphoto/2.jpg" class="d-block w-100" alt="...">
    <div class="card-body">
      <p class="card-text"><strong>#shantiniketan <br>#friends <br>#trip</strong></p>
      
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/3.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#konnagar <br>#science_fair <br>#competition</strong></p>
        
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/4.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#kolkata <br>#jis_samman <br>#friends</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/5.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#tech_quiz <br>#organizers</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/6.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#college_life <br>#friends</strong></p>
        
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/7.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#kolkata <br>#science_city <br>#jis_samman <br></strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/8.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#freshers <br>#computer_application</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/9.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#FOSET <br>#competition</strong></p>
    
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/10.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#college_life <br>#friends</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/11.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#kolkata <br>#10k_marathon <br>#friends</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/12.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#kolkata <br>#10k_marathon <br>#me</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/13.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#kolkata <br>#10k_marathon <br>#friends</strong></p>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/14.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#konnagar <br>#science_fair <br> #friends</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/15.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#freshers <br> #magic_show</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/16.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br> #college_fest <br> #friends</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/17.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#tech_quiz <br>#organizers</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/18.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#tech_quiz <br>#organizers</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/19.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#tech_quiz <br>#organizers</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/20.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#FOSET <br>#competition</strong></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm my-2">
      <img src="static/myphoto/21.jpg" class="d-block w-100" alt="...">
      <div class="card-body">
        <p class="card-text"><strong>#GNIT <br>#freshers <br> #magic_show</strong></p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}