{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container-fluid text-center mt-1 my-3"><strong><h2>MY CLICKS</h2></strong></div>
<hr class="featurette-divider my-4">
<div class="container-fluid my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/36.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Purulia</strong> <br>The view of the lower dam from this point looks absolutely amazing, I'll say the photo dosen't justify the beauty.</p>
            
        </div>
      </div>
    </div>
    <hr class="featurette-divider my-4">
    <div class="col">
      <div class="card shadow-sm my-2">
        <img src="static/myClicks/35.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Purulia</strong> <br>The lake looks so much more amazing from the top of the hill.I got the entire view of the lake with all the rocks surrounding it.</p>
          
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/34.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Purulia</strong><br>This photo reminds me of the Silk Route, looks amazing from the view point.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/33.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Kolkata</strong> <br>This photo was from my first Photo Walk, was a great experience and met many amazing people.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/32.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Irpanar</strong> <br>This click was from my trip to Chhattisgarh and Maharashtra, I was standing at Chhattisgarh clicking Maharashtra the other side of the river.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/31.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Irpanar</strong> <br>The river is like a border between Chhattisgarh and Maharashtra.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/30.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Bande</strong> <br>Beautiful green rice fields and a different level of greenery we could ever find in cities.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/29.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Raipur</strong> <br>Long Exposure photography during night of reflections, on water has a differnt charm.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/28.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Creative</strong><br>The most creative shot I have ever tried using LED lights.</p>
        
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/27.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Mullick Ghat</strong><br>The flower market of Kolkata Mullick Ghat looks beautiful in the morning with all the colours of nature.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/26.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Snake</strong><br>I don't shoot wildlife often, but it was a good shot.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/25.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Royal Bengal Tiger</strong><br>Wildlife photography</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/24.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Kumortuli</strong><br>The mesmerizing sound of Dhak is reminding us all that Maa is coming once again.</p>
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/23.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Digha</strong><br>The shot from Talsari, the looks different and calms the chaos inside us.
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/21.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Vidyasagar Setu</strong><br>The reflections of lights on water during night looks so calming.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/20.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Kolkata</strong><br>Life goes on without stopping just like these light trails.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/19.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Digha</strong><br>I could watch these waves for hours without getting tired.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/18.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Kolkata</strong><br>The night sky of Kolkata on New Year is just amazing.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/17.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Ribindra Sarovar Lake</strong><br>The best part of competetion is that through it we discover what we are capable of and how much more we can actually do than we ever belived possible.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/16.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Digha</strong><br>This is one of my favorite photo of Mohona just before sunrise, the reflection of dawn on the Bay of Bengal mesmerizing.</p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider my-4">
      <div class="col">
        <div class="card shadow-sm my-2">
          <img src="static/myClicks/22.jpeg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Kolkata</strong><br>Just a random shot during the golden hours, but looks really amazing.</p>
          </div>
        </div>
      </div>
  </div>
  <hr class="featurette-divider my-4">

{% endblock body %}